<h1>Your Cart</h1>

<p>Here are the items you've selected so far:</p>

<div>
<% @line_items.each do |line_item| %>

	<li>Product: <%= line_item.product.name %></li>
	<li>Price: <%= line_item.product.price %></li>
	<li>Quantity <%= line_item.quantity %></li>
	<li>Subtotal:<%= line_item.line_item_total %></li>
<% end %>

</div>

<p><%= link_to "Proceed to Checkout?", checkout_path, class: 'btn btn-success'%></p>